<section class="section chat-section">

    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-comment fa-stack-1x fa-inverse"></i>
        </span>
        留言板
    </h2>

    <div class="intro">
        <p>点击下方文字进入留言板。<br>注意：这个留言板只保留最近100条且随时清空。</p>
    </div>

    <div class="item">
        <a href="https://chat.lwd-temp.top/room/@public"><img src="https://chat.lwd-temp.top/room/@public/svg" width="100%"></a>
    </div>

</section>
