<!-- Javascript -->
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- custom js -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>

<script type="text/javascript" id="cookiebanner"
    src="https://fastly.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"></script>

<!--利用meting-js调用APlayer音乐播放器-->
<!-- require APlayer -->
<!--
<link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://fastly.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
-->
<!-- require MetingJS -->
<!--
<script src="https://fastly.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
<meting-js server="netease" type="song" id="27741732" fixed="true">
</meting-js>
-->
<!--利用meting-js调用APlayer音乐播放器 Ends here-->

<!--
<link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<div id="aplayer">
    <pre class="aplayer-lrc-content">
        [ti:The Introduction Ver.cn]
        [by:NIJICO]

        [00:00.60]我脑海中的情节
        [00:02.90]拼凑完整的回忆
        [00:05.09]串联出了一个永恒的故事
        [00:10.30]----------------
        [00:10.80]Mirror2-The Introduction Ver.CN
        [00:11.70]作編曲：奥田友幸
        [00:12.70]作詞：仲村芽衣子
        [00:13.80]訳詞：沐菲(Sunny)
        [00:14.50]----------------
        [00:15.00]（有你的 有你的 和我的其妙的物语）
        [00:25.30]（虽然我 未见你 但脑袋里装满了你）
        [00:32.80]
        [00:34.00]我们曾走过
        [00:35.50]各式各样不同的道路
        [00:39.00]才后知后觉
        [00:41.00]不断累计的经验
        [00:44.50]但忽然有天
        [00:46.00]有种莫名其妙的预感
        [00:48.80]也不知该如何去期待
        [00:53.00]
        [00:53.20]是命中的注定（不会吧）
        [00:56.20]让我们相遇（偶然吗）
        [00:58.90]也许这是上帝的玩笑
        [01:03.10]是恶作剧也罢
        [01:05.09]终于再次相见啦！
        [01:08.20]这该不会是梦吧？
        [01:11.59]是我从未听过却熟悉
        [01:13.20]那温柔的声线
        [01:16.00]不知为何总感觉
        [01:18.30]如此温暖我心窝
        [01:21.09]但我如今还没勇气说出口
        [01:25.50]
        [01:26.10]第一次的相遇（超喜欢）
        [01:28.90]渐渐变成习惯（为什么）
        [01:31.20]好像是时空重叠交错了（无法解释）
        [01:36.60]你就算不了解（胸口啊）
        [01:38.90]也一定能感觉（发烫了）
        [01:41.20]故事的开端就是你和我
        [01:47.00]
        [01:49.20]要一点一点
        [01:51.00]将两颗心贴的更近了
        [01:54.90]暧昧也慢慢
        [01:56.00]变成事实的跨越
        [01:59.20]一天多一天
        [02:01.30]独自拥有着你的喜悦
        [02:04.50]让我变得更加的任性
        [02:09.00]
        [02:09.30]我们搭上了电车（会到达）
        [02:12.50]游乐场（我和你）
        [02:14.40]拍下一堆精彩画面
        [02:19.40]纪念每（一）个瞬间
        [02:21.80]分开后的每一天
        [02:24.60]世界只剩下空白
        [02:27.00]现在的我到底要去哪
        [02:29.90]昨日才能重现？
        [02:31.50]所有形状和颜色
        [02:34.50]通通都消失不见
        [02:37.00]连最真实的轮廓都失去了
        [02:41.00]----------------
        [02:45.00]STEAM游戏《Mirror2》-OST
        [02:50.00]The Introduction Ver.CN
        [02:55.00]支持正版
        [03:03.00]----------------
        [03:04.00]夜空上升的花朵
        [03:07.80]属于爱情的烟火
        [03:10.00]耳边仿佛听见你在说
        [03:12.60]“看美丽的花火”
        [03:14.90]距离越来越近了
        [03:17.60]心跳也越来越快
        [03:20.50]两个人的影子啊要重叠啦
        [03:25.00]
        [03:25.80]现在、再一次的相遇啦！
        [03:29.10]感觉像是梦境啊
        [03:32.30]是你消失已久的声音
        [03:35.70]再回荡我耳边
        [03:37.00]用尽全力去找寻
        [03:40.00]但始终一无所获
        [03:42.90]不见回忆里的你只留下我
        [03:47.00]
        [03:47.10]把所有的情感（和想法）
        [03:50.20]勇敢的去流露（说出来）
        [03:52.90]因为值得被小心收藏的（所有的）
        [03:57.10]而我已懂得（那你呢？）
        [04:00.20]你是否还记得（而你呢？）
        [04:03.00]多希望你立刻能告诉我
        [04:08.00]
        [04:10.00]（有你的 有你的 和我的其妙的物语）
        [04:20.20]（在未来 的路上 我们的故事仍继续）
        [04:29.70]--------END--------
        [04:30.37] 作者：球体和它的几何伙伴 https://www.bilibili.com/read/cv14936812 出处：bilibili
    </pre>
</div>
<script src="https://fastly.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<script>
    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        lrcType: 2,
        fixed: true,
        audio: [{
            name: 'The Introduction',
            artist: '奥田友幸/仲村芽衣子/沐菲(Sunny)',
            url: 'https://drive.lwd-temp.top/api/raw/?path=/%E9%9F%B3%E4%B9%90/TheIntroduction.mp3'
        }]
    });
</script>
-->

{% if sidebar.pdf %}
<script>
    var onPDFProcess = false;
    var jsPDFLoaded = false;

    function hideElements() {
        $(".pdf").hide();
        console.log("Hide .pdf with jQuery.");
        $(".aplayer").hide();
        console.log("Hide .aplayer with jQuery.");
    }

    function showElements() {
        $(".pdf").show();
        console.log("Show .pdf with jQuery.");
        $(".aplayer").show();
        console.log("Show .aplayer with jQuery.");
    }

    function printPDF() {
        console.log("printPDF");
        var element = document.body;
        var opt = {
            margin: 0,
            filename: document.title + '.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: { scale: 5, useCORS: true },
            jsPDF: { format: 'a4', orientation: 'portrait' }
        };
        console.log("Call html2pdf");
        html2pdf().set(opt).from(element).save().then(function (pdf) {
            console.log("PDF generated");
            console.log("Set onPDFProcess to false");
            onPDFProcess = false;
            showElements();
        });
        console.log("Call html2pdf end");
    }

    var downPdf = document.getElementById("renderPdf");

    downPdf.onclick = function () {
        if (onPDFProcess) {
            console.log("PDF is processing, ignore");
            return;
        }
        else {
            onPDFProcess = true;
            console.log("Set onPDFProcess to true");
            hideElements();
            if (jsPDFLoaded) {
                console.log("jsPDF loaded, print PDF");
                printPDF();
            }
            else {
                try {
                    console.log("jsPDF not loaded, load jsPDF");
                    $.getScript("{{site.baseurl}}/assets/js/min/html2pdf.bundle.min.js", function () {
                        jsPDFLoaded = true;
                        console.log("Set jsPDFLoaded to true");
                        printPDF();
                    }).fail(function () {
                        console.log("Load jsPDF failed");
                        onPDFProcess = false;
                        console.log("Set onPDFProcess to false");
                        showElements();
                    });
                } catch (error) {
                    console.log("Something failed");
                    console.log(error);
                    onPDFProcess = false;
                    console.log("Set onPDFProcess to false");
                    showElements();
                }
            }
        };
    }
</script>
{% endif %}

<!--
<script>
    // Activate Google Translate
    var lang = (navigator.language || navigator.browserLanguage).toLowerCase();
    if ((lang != 'zh-cn' || /translate=true/.test(window.location) || localStorage.getItem('translate') == 'true') && localStorage.getItem('translate') != 'false') {
        document.write('<scr' + 'ipt src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" defer="defer">' + '</scr' + 'ipt>');
        var google_translate_element = document.createElement('div');
        google_translate_element.innerHTML = '<div id="google_translate_element"></div>';
        document.getElementsByTagName('body')[0].appendChild(google_translate_element);
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'zh-CN',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    }
</script>
-->

<!--
<script src="https://api.lwd-temp.top/static/staticapi.js"></script>
-->

{% if site.analytics %}
{% include analytics.html %}
{% endif %}